--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg12+1)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: gobonimo_database_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO gobonimo_database_user;

--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO gobonimo_database_user;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO gobonimo_database_user;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO gobonimo_database_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO gobonimo_database_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO gobonimo_database_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_ad; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_ad (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    location character varying(255) NOT NULL,
    ad_type character varying(10) NOT NULL,
    description text NOT NULL,
    views integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    model character varying(100),
    color character varying(50),
    year integer,
    num_rooms integer,
    num_baths integer,
    area_size integer,
    furnishing_type character varying(20),
    property_type character varying(20),
    has_parking boolean NOT NULL,
    has_pool boolean NOT NULL,
    has_water boolean NOT NULL,
    has_electricity boolean NOT NULL,
    land_type character varying(20),
    land_area integer,
    vehicle_type character varying(20),
    motortype character varying(100),
    geartype character varying(100),
    is_automatic boolean NOT NULL,
    electronics_type character varying(20),
    operating_system character varying(20),
    storage_capacity character varying(20),
    screen_size numeric(5,2),
    ram character varying(20),
    processor character varying(100),
    camera_resolution character varying(50),
    electronics_condition character varying(20),
    has_warranty boolean NOT NULL,
    warranty_period character varying(50),
    sim_type character varying(20),
    job_type character varying(20),
    salary character varying(100),
    experience_required character varying(100),
    education_required character varying(100),
    service_type character varying(20),
    service_area character varying(255),
    availability character varying(100),
    fashion_type character varying(20),
    size character varying(20),
    material character varying(100),
    is_approved boolean NOT NULL,
    is_featured boolean NOT NULL,
    status character varying(10) NOT NULL,
    advertiser_id bigint NOT NULL,
    category_id bigint NOT NULL,
    CONSTRAINT base_ad_area_size_check CHECK ((area_size >= 0)),
    CONSTRAINT base_ad_land_area_check CHECK ((land_area >= 0)),
    CONSTRAINT base_ad_num_baths_check CHECK ((num_baths >= 0)),
    CONSTRAINT base_ad_num_rooms_check CHECK ((num_rooms >= 0)),
    CONSTRAINT base_ad_views_check CHECK ((views >= 0)),
    CONSTRAINT base_ad_year_check CHECK ((year >= 0))
);


ALTER TABLE public.base_ad OWNER TO gobonimo_database_user;

--
-- Name: base_ad_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_ad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_ad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_adimage; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_adimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    ad_id bigint NOT NULL
);


ALTER TABLE public.base_adimage OWNER TO gobonimo_database_user;

--
-- Name: base_adimage_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_adimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_adimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_category; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    image character varying(100) NOT NULL
);


ALTER TABLE public.base_category OWNER TO gobonimo_database_user;

--
-- Name: base_category_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_comment; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_comment (
    id bigint NOT NULL,
    text text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    ad_id bigint NOT NULL,
    parent_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.base_comment OWNER TO gobonimo_database_user;

--
-- Name: base_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_favorite; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_favorite (
    id bigint NOT NULL,
    saved_at timestamp with time zone NOT NULL,
    ad_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.base_favorite OWNER TO gobonimo_database_user;

--
-- Name: base_favorite_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_favorite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_favorite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_featuredad; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_featuredad (
    id bigint NOT NULL,
    payment_screenshot character varying(100) NOT NULL,
    featured_start_date timestamp with time zone NOT NULL,
    featured_expiry_date timestamp with time zone NOT NULL,
    ad_id bigint NOT NULL
);


ALTER TABLE public.base_featuredad OWNER TO gobonimo_database_user;

--
-- Name: base_featuredad_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_featuredad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_featuredad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_featuredadhistory; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_featuredadhistory (
    id bigint NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    payment_screenshot character varying(100) NOT NULL,
    featured_date timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    ad_id bigint NOT NULL
);


ALTER TABLE public.base_featuredadhistory OWNER TO gobonimo_database_user;

--
-- Name: base_featuredadhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_featuredadhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_featuredadhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_notification; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    notification_type character varying(20) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    ad_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.base_notification OWNER TO gobonimo_database_user;

--
-- Name: base_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_pendingfeaturedad; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_pendingfeaturedad (
    id bigint NOT NULL,
    payment_screenshot character varying(100) NOT NULL,
    featured_start_date timestamp with time zone NOT NULL,
    featured_expiry_date timestamp with time zone NOT NULL,
    ad_id bigint NOT NULL
);


ALTER TABLE public.base_pendingfeaturedad OWNER TO gobonimo_database_user;

--
-- Name: base_pendingfeaturedad_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_pendingfeaturedad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_pendingfeaturedad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_user; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(200) NOT NULL,
    bio text,
    phone_number character varying(15),
    avatar character varying(100),
    location character varying(255) NOT NULL,
    email_verified boolean NOT NULL
);


ALTER TABLE public.base_user OWNER TO gobonimo_database_user;

--
-- Name: base_user_groups; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.base_user_groups OWNER TO gobonimo_database_user;

--
-- Name: base_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_user_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: base_user_user_permissions; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.base_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.base_user_user_permissions OWNER TO gobonimo_database_user;

--
-- Name: base_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.base_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.base_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO gobonimo_database_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO gobonimo_database_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO gobonimo_database_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO gobonimo_database_user;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO gobonimo_database_user;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO gobonimo_database_user;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO gobonimo_database_user;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO gobonimo_database_user;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: gobonimo_database_user
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO gobonimo_database_user;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--



--
-- Data for Name: base_ad; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--



--
-- Data for Name: base_adimage; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_adimage (id, image, ad_id) FROM stdin;
\.


--
-- Data for Name: base_category; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_category (id, name, image) FROM stdin;
\.


--
-- Data for Name: base_comment; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_comment (id, text, "timestamp", ad_id, parent_id, user_id) FROM stdin;
\.


--
-- Data for Name: base_favorite; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_favorite (id, saved_at, ad_id, user_id) FROM stdin;
\.


--
-- Data for Name: base_featuredad; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_featuredad (id, payment_screenshot, featured_start_date, featured_expiry_date, ad_id) FROM stdin;
\.


--
-- Data for Name: base_featuredadhistory; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_featuredadhistory (id, amount_paid, payment_screenshot, featured_date, expires_at, ad_id) FROM stdin;
\.


--
-- Data for Name: base_notification; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_notification (id, message, notification_type, is_read, created_at, ad_id, user_id) FROM stdin;
1	Welcome to our marketplace! Get started by creating your first ad.	info	f	2025-09-14 13:28:04.090518+00	\N	1
\.


--
-- Data for Name: base_pendingfeaturedad; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_pendingfeaturedad (id, payment_screenshot, featured_start_date, featured_expiry_date, ad_id) FROM stdin;
\.


--
-- Data for Name: base_user; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_user (id, password, last_login, is_superuser, is_staff, is_active, date_joined, full_name, email, bio, phone_number, avatar, location, email_verified) FROM stdin;
1	pbkdf2_sha256$1000000$r3nJfgfNAqOIJMqpjXxEa9$OnpNeR0Qh78QjzxmySHxgkORPlPa9s1SA4UdJbKV8Jk=	\N	f	f	f	2025-09-14 13:28:01.582919+00	rrrrgfd	salmahoussein33@gmail.com	ffff fff	+2523442211	avatar.svg	ffgddd	f
\.


--
-- Data for Name: base_user_groups; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: base_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.base_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	sites	site
7	base	category
8	base	user
9	base	ad
10	base	adimage
11	base	comment
12	base	favorite
13	base	featuredad
14	base	featuredadhistory
15	base	notification
16	base	pendingfeaturedad
17	account	emailaddress
18	account	emailconfirmation
19	socialaccount	socialaccount
20	socialaccount	socialapp
21	socialaccount	socialtoken
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.socialaccount_socialaccount (id, provider, uid, last_login, date_joined, extra_data, user_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: gobonimo_database_user
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 1, false);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: base_ad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_ad_id_seq', 1, false);


--
-- Name: base_adimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_adimage_id_seq', 1, false);


--
-- Name: base_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_category_id_seq', 1, false);


--
-- Name: base_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_comment_id_seq', 1, false);


--
-- Name: base_favorite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_favorite_id_seq', 1, false);


--
-- Name: base_featuredad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_featuredad_id_seq', 1, false);


--
-- Name: base_featuredadhistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_featuredadhistory_id_seq', 1, false);


--
-- Name: base_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_notification_id_seq', 1, true);


--
-- Name: base_pendingfeaturedad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_pendingfeaturedad_id_seq', 1, false);


--
-- Name: base_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_user_groups_id_seq', 1, false);


--
-- Name: base_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_user_id_seq', 1, true);


--
-- Name: base_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.base_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gobonimo_database_user
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: base_ad base_ad_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_ad
    ADD CONSTRAINT base_ad_pkey PRIMARY KEY (id);


--
-- Name: base_adimage base_adimage_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_adimage
    ADD CONSTRAINT base_adimage_pkey PRIMARY KEY (id);


--
-- Name: base_category base_category_name_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_category
    ADD CONSTRAINT base_category_name_key UNIQUE (name);


--
-- Name: base_category base_category_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_category
    ADD CONSTRAINT base_category_pkey PRIMARY KEY (id);


--
-- Name: base_comment base_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_comment
    ADD CONSTRAINT base_comment_pkey PRIMARY KEY (id);


--
-- Name: base_favorite base_favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_favorite
    ADD CONSTRAINT base_favorite_pkey PRIMARY KEY (id);


--
-- Name: base_favorite base_favorite_user_id_ad_id_a5cb2050_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_favorite
    ADD CONSTRAINT base_favorite_user_id_ad_id_a5cb2050_uniq UNIQUE (user_id, ad_id);


--
-- Name: base_featuredad base_featuredad_ad_id_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_featuredad
    ADD CONSTRAINT base_featuredad_ad_id_key UNIQUE (ad_id);


--
-- Name: base_featuredad base_featuredad_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_featuredad
    ADD CONSTRAINT base_featuredad_pkey PRIMARY KEY (id);


--
-- Name: base_featuredadhistory base_featuredadhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_featuredadhistory
    ADD CONSTRAINT base_featuredadhistory_pkey PRIMARY KEY (id);


--
-- Name: base_notification base_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_notification
    ADD CONSTRAINT base_notification_pkey PRIMARY KEY (id);


--
-- Name: base_pendingfeaturedad base_pendingfeaturedad_ad_id_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_pendingfeaturedad
    ADD CONSTRAINT base_pendingfeaturedad_ad_id_key UNIQUE (ad_id);


--
-- Name: base_pendingfeaturedad base_pendingfeaturedad_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_pendingfeaturedad
    ADD CONSTRAINT base_pendingfeaturedad_pkey PRIMARY KEY (id);


--
-- Name: base_user base_user_email_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user
    ADD CONSTRAINT base_user_email_key UNIQUE (email);


--
-- Name: base_user_groups base_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_groups
    ADD CONSTRAINT base_user_groups_pkey PRIMARY KEY (id);


--
-- Name: base_user_groups base_user_groups_user_id_group_id_774631b7_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_groups
    ADD CONSTRAINT base_user_groups_user_id_group_id_774631b7_uniq UNIQUE (user_id, group_id);


--
-- Name: base_user base_user_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user
    ADD CONSTRAINT base_user_phone_number_key UNIQUE (phone_number);


--
-- Name: base_user base_user_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user
    ADD CONSTRAINT base_user_pkey PRIMARY KEY (id);


--
-- Name: base_user_user_permissions base_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_user_permissions
    ADD CONSTRAINT base_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: base_user_user_permissions base_user_user_permissions_user_id_permission_id_e9093277_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_user_permissions
    ADD CONSTRAINT base_user_user_permissions_user_id_permission_id_e9093277_uniq UNIQUE (user_id, permission_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: base_ad_ad_type_a79855_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_ad_type_a79855_idx ON public.base_ad USING btree (ad_type);


--
-- Name: base_ad_advertiser_id_c4373204; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_advertiser_id_c4373204 ON public.base_ad USING btree (advertiser_id);


--
-- Name: base_ad_categor_41713a_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_categor_41713a_idx ON public.base_ad USING btree (category_id);


--
-- Name: base_ad_category_id_c7f88cae; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_category_id_c7f88cae ON public.base_ad USING btree (category_id);


--
-- Name: base_ad_created_e761ba_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_created_e761ba_idx ON public.base_ad USING btree (created_at);


--
-- Name: base_ad_is_feat_fa4b4e_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_is_feat_fa4b4e_idx ON public.base_ad USING btree (is_featured);


--
-- Name: base_ad_price_7de148_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_price_7de148_idx ON public.base_ad USING btree (price);


--
-- Name: base_ad_status_b74e60_idx; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_ad_status_b74e60_idx ON public.base_ad USING btree (status);


--
-- Name: base_adimage_ad_id_c976760e; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_adimage_ad_id_c976760e ON public.base_adimage USING btree (ad_id);


--
-- Name: base_category_name_2fe410e9_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_category_name_2fe410e9_like ON public.base_category USING btree (name varchar_pattern_ops);


--
-- Name: base_comment_ad_id_4db9c2e6; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_comment_ad_id_4db9c2e6 ON public.base_comment USING btree (ad_id);


--
-- Name: base_comment_parent_id_244e8170; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_comment_parent_id_244e8170 ON public.base_comment USING btree (parent_id);


--
-- Name: base_comment_user_id_285ed384; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_comment_user_id_285ed384 ON public.base_comment USING btree (user_id);


--
-- Name: base_favorite_ad_id_ec42bebd; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_favorite_ad_id_ec42bebd ON public.base_favorite USING btree (ad_id);


--
-- Name: base_favorite_user_id_e506ce75; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_favorite_user_id_e506ce75 ON public.base_favorite USING btree (user_id);


--
-- Name: base_featuredadhistory_ad_id_b043f78b; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_featuredadhistory_ad_id_b043f78b ON public.base_featuredadhistory USING btree (ad_id);


--
-- Name: base_notification_ad_id_789ffe3d; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_notification_ad_id_789ffe3d ON public.base_notification USING btree (ad_id);


--
-- Name: base_notification_user_id_09cc7a96; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_notification_user_id_09cc7a96 ON public.base_notification USING btree (user_id);


--
-- Name: base_user_email_fbc4c0ff_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_email_fbc4c0ff_like ON public.base_user USING btree (email varchar_pattern_ops);


--
-- Name: base_user_groups_group_id_c0eca7d6; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_groups_group_id_c0eca7d6 ON public.base_user_groups USING btree (group_id);


--
-- Name: base_user_groups_user_id_29a796b6; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_groups_user_id_29a796b6 ON public.base_user_groups USING btree (user_id);


--
-- Name: base_user_phone_number_087e3122_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_phone_number_087e3122_like ON public.base_user USING btree (phone_number varchar_pattern_ops);


--
-- Name: base_user_user_permissions_permission_id_0418bc02; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_user_permissions_permission_id_0418bc02 ON public.base_user_user_permissions USING btree (permission_id);


--
-- Name: base_user_user_permissions_user_id_2eec4d63; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX base_user_user_permissions_user_id_2eec4d63 ON public.base_user_user_permissions USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: gobonimo_database_user
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_ad base_ad_advertiser_id_c4373204_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_ad
    ADD CONSTRAINT base_ad_advertiser_id_c4373204_fk_base_user_id FOREIGN KEY (advertiser_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_ad base_ad_category_id_c7f88cae_fk_base_category_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_ad
    ADD CONSTRAINT base_ad_category_id_c7f88cae_fk_base_category_id FOREIGN KEY (category_id) REFERENCES public.base_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_adimage base_adimage_ad_id_c976760e_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_adimage
    ADD CONSTRAINT base_adimage_ad_id_c976760e_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_comment base_comment_ad_id_4db9c2e6_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_comment
    ADD CONSTRAINT base_comment_ad_id_4db9c2e6_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_comment base_comment_parent_id_244e8170_fk_base_comment_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_comment
    ADD CONSTRAINT base_comment_parent_id_244e8170_fk_base_comment_id FOREIGN KEY (parent_id) REFERENCES public.base_comment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_comment base_comment_user_id_285ed384_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_comment
    ADD CONSTRAINT base_comment_user_id_285ed384_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_favorite base_favorite_ad_id_ec42bebd_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_favorite
    ADD CONSTRAINT base_favorite_ad_id_ec42bebd_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_favorite base_favorite_user_id_e506ce75_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_favorite
    ADD CONSTRAINT base_favorite_user_id_e506ce75_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_featuredad base_featuredad_ad_id_981135ca_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_featuredad
    ADD CONSTRAINT base_featuredad_ad_id_981135ca_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_featuredadhistory base_featuredadhistory_ad_id_b043f78b_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_featuredadhistory
    ADD CONSTRAINT base_featuredadhistory_ad_id_b043f78b_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_notification base_notification_ad_id_789ffe3d_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_notification
    ADD CONSTRAINT base_notification_ad_id_789ffe3d_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_notification base_notification_user_id_09cc7a96_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_notification
    ADD CONSTRAINT base_notification_user_id_09cc7a96_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_pendingfeaturedad base_pendingfeaturedad_ad_id_95f041a1_fk_base_ad_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_pendingfeaturedad
    ADD CONSTRAINT base_pendingfeaturedad_ad_id_95f041a1_fk_base_ad_id FOREIGN KEY (ad_id) REFERENCES public.base_ad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_user_groups base_user_groups_group_id_c0eca7d6_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_groups
    ADD CONSTRAINT base_user_groups_group_id_c0eca7d6_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_user_groups base_user_groups_user_id_29a796b6_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_groups
    ADD CONSTRAINT base_user_groups_user_id_29a796b6_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_user_user_permissions base_user_user_permi_permission_id_0418bc02_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_user_permissions
    ADD CONSTRAINT base_user_user_permi_permission_id_0418bc02_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: base_user_user_permissions base_user_user_permissions_user_id_2eec4d63_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.base_user_user_permissions
    ADD CONSTRAINT base_user_user_permissions_user_id_2eec4d63_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_user_id_8146e70c_fk_base_user_id; Type: FK CONSTRAINT; Schema: public; Owner: gobonimo_database_user
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_user_id_8146e70c_fk_base_user_id FOREIGN KEY (user_id) REFERENCES public.base_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: FUNCTION pg_stat_statements(showtext boolean, OUT userid oid, OUT dbid oid, OUT toplevel boolean, OUT queryid bigint, OUT query text, OUT plans bigint, OUT total_plan_time double precision, OUT min_plan_time double precision, OUT max_plan_time double precision, OUT mean_plan_time double precision, OUT stddev_plan_time double precision, OUT calls bigint, OUT total_exec_time double precision, OUT min_exec_time double precision, OUT max_exec_time double precision, OUT mean_exec_time double precision, OUT stddev_exec_time double precision, OUT rows bigint, OUT shared_blks_hit bigint, OUT shared_blks_read bigint, OUT shared_blks_dirtied bigint, OUT shared_blks_written bigint, OUT local_blks_hit bigint, OUT local_blks_read bigint, OUT local_blks_dirtied bigint, OUT local_blks_written bigint, OUT temp_blks_read bigint, OUT temp_blks_written bigint, OUT shared_blk_read_time double precision, OUT shared_blk_write_time double precision, OUT local_blk_read_time double precision, OUT local_blk_write_time double precision, OUT temp_blk_read_time double precision, OUT temp_blk_write_time double precision, OUT wal_records bigint, OUT wal_fpi bigint, OUT wal_bytes numeric, OUT jit_functions bigint, OUT jit_generation_time double precision, OUT jit_inlining_count bigint, OUT jit_inlining_time double precision, OUT jit_optimization_count bigint, OUT jit_optimization_time double precision, OUT jit_emission_count bigint, OUT jit_emission_time double precision, OUT jit_deform_count bigint, OUT jit_deform_time double precision, OUT stats_since timestamp with time zone, OUT minmax_stats_since timestamp with time zone); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pg_stat_statements(showtext boolean, OUT userid oid, OUT dbid oid, OUT toplevel boolean, OUT queryid bigint, OUT query text, OUT plans bigint, OUT total_plan_time double precision, OUT min_plan_time double precision, OUT max_plan_time double precision, OUT mean_plan_time double precision, OUT stddev_plan_time double precision, OUT calls bigint, OUT total_exec_time double precision, OUT min_exec_time double precision, OUT max_exec_time double precision, OUT mean_exec_time double precision, OUT stddev_exec_time double precision, OUT rows bigint, OUT shared_blks_hit bigint, OUT shared_blks_read bigint, OUT shared_blks_dirtied bigint, OUT shared_blks_written bigint, OUT local_blks_hit bigint, OUT local_blks_read bigint, OUT local_blks_dirtied bigint, OUT local_blks_written bigint, OUT temp_blks_read bigint, OUT temp_blks_written bigint, OUT shared_blk_read_time double precision, OUT shared_blk_write_time double precision, OUT local_blk_read_time double precision, OUT local_blk_write_time double precision, OUT temp_blk_read_time double precision, OUT temp_blk_write_time double precision, OUT wal_records bigint, OUT wal_fpi bigint, OUT wal_bytes numeric, OUT jit_functions bigint, OUT jit_generation_time double precision, OUT jit_inlining_count bigint, OUT jit_inlining_time double precision, OUT jit_optimization_count bigint, OUT jit_optimization_time double precision, OUT jit_emission_count bigint, OUT jit_emission_time double precision, OUT jit_deform_count bigint, OUT jit_deform_time double precision, OUT stats_since timestamp with time zone, OUT minmax_stats_since timestamp with time zone) TO gobonimo_database_user;


--
-- Name: FUNCTION pg_stat_statements_info(OUT dealloc bigint, OUT stats_reset timestamp with time zone); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pg_stat_statements_info(OUT dealloc bigint, OUT stats_reset timestamp with time zone) TO gobonimo_database_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO gobonimo_database_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO gobonimo_database_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO gobonimo_database_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO gobonimo_database_user;


--
-- PostgreSQL database dump complete
--

